
        <table role="presentation" border="0" cellpadding="0" cellspacing="0"
               width="100%" style="margin-bottom:8px;">
          <tr>
            <!-- Puce brique -->
            <td valign="top" width="14"
                style="vertical-align:top;padding-top:6px;padding-right:8px;">
              <div style="width:5px;height:5px;background-color:#b3564d;
                          border-radius:50%;font-size:0;line-height:5px;">&nbsp;</div>
            </td>
            <!-- Texte de la consigne -->
            <td class="sec-text-td" valign="top"
                style="font-family:Arial,sans-serif;font-size:13px;
                       color:#8c4640;line-height:1.65;vertical-align:top;">
              {{ITEM}}
            </td>
          </tr>
        </table>
