
        <table role="presentation" border="0" cellpadding="0" cellspacing="0"
               width="100%" {{MARGIN}}>
          <tr>
            <td valign="top" width="38" style="vertical-align:top;padding-top:1px;">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="28" height="28" align="center" valign="middle"
                      style="width:28px;height:28px;border-radius:50%;
                             background-color:#163057;text-align:center;
                             font-family:Georgia,'Times New Roman',serif;font-size:14px;
                             color:#ffffff;line-height:28px;">
                    {{NUMBER}}
                  </td>
                </tr>
              </table>
            </td>
            <td valign="top"
                style="font-family:Arial,sans-serif;font-size:14px;
                       color:#5a6577;line-height:1.6;vertical-align:top;
                       padding-top:4px;">
              {{STEP}}
            </td>
          </tr>
        </table>
